{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}


                        <div id="app"></div>
                         {% endif %}

                        {% endblock content %}

{% block body_scripts %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


  <script src="{% static 'js/scripts.js' %}" type="text/babel"></script>
 <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
 <script type = "text/javascript" src"https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
 
{% endblock body_scripts %}
